:root {
    --main-background: #F6F4F4;
    --main-textcolour: #89B0AE;
    --alt-background: #555B6E;
    --alt-textcolour: #BEE3DB;
    --extracolour: #FF9D5C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-background);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

header {
    background-color: var(--alt-background);
    color: var(--alt-textcolour);
    padding: 10px 0;
}

#logo {
    float: left;
    font-size: 1.5em;
    padding-top: 8px;
}

nav {
    float: right;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links a {
    display: inline-block;
    margin-left: 20px;
    color: var(--alt-textcolour);
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
    font-size: 1.2em;
}

.navbar-links a:hover {
    color: var(--extracolour)
}

.content {
    padding: 50px 0;
    text-align: center;
}

.card {
    background-color: rgba(85, 91, 110, 0.1);
    padding: 40px 60px;
    border-radius: 20px;
    max-width: 550px;
    width: 90%;
    transition: transform 0.3s ease;
}

.card:hover, .calendar:hover {
    transform: scale(1.02);
}

#greeting {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: 600;
}

.subtext {
    font-size: 1.5em;
    color: #47928e;
}

/* dynamic calendar */
.calendar {
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(85, 91, 110, 0.1);
    border-radius: 20px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.calendar-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    color: #FF9D5C;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.monthYear {
    text-align: center;
    font-weight: 600;
    width: 150px;
}

/* arrange how days are displayed in the calendar */
.days {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.day {
    text-align: center;
    padding: 5px;
    color: #369893;
    font-weight: 500;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 400;
    border-radius: 50%;
    width: 62%;
    height: 68%;
}

.date:hover, .date.active {
    background: #FF9D5C;
    color: #09a39c;
}

/* date outside current month */
.date.inactive {
    color: #abacac;
}

.date.inactive:hover {
    color: #fff;
    /* background: #47928e; */
}

